header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--header);
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        max-width: 100px;
    }

    div {
        display: flex;
        align-items: center;

        #theme {
            margin-right: 24px;
            width: 44px;
            height: 44px;
            padding: 8px;
            position: relative;
            border-radius: 4px;

            &::before {
                @extend %fontAwesome;
                content: '\f186';
                display: block;
                font-size: 1.6rem;
                color: var(--btnheader);
            }

            span {
                position: absolute;
                left: -99999px;
            }

            &.ativo {
                box-shadow: inset 0 -35px 11px rgba(0, 0, 0, .15);
            }
        }

        #menu {
            width: 44px;
            height: 44px;

            div {
                width: 30px;
                height: 4px;
                margin: 0 auto;
                border-radius: 1px;
                background: var(--btnheader);
                transition: all 0.2s ease-in-out;
                position: relative;
                display: flex;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 4px;
                    border-radius: 2px;
                    background: var(--btnheader);
                    transition: all 0.2s ease-in-out;
                }

                &::before {
                    transform: translateY(-10px);
                    display: block;
                }

                &::after {
                    transform: translateY(10px);
                    display: block;
                }
            }

            &.ativo{
                div {
                    transform: translateX(-50px);
                    background: transparent;

                    &::before {
                        transform: rotate(45deg) translate(35px, -35px);
                    }
                    &::after {
                        transform: rotate(-45deg) translate(35px, 35px);
                    }
                }
                
            }
        }
    }
}
