article {
    padding-top: 110px;

    .container {
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }

        .main {
            width: 100%;

            //SEARCHBAR
            .searchbar {
                max-width: 660px;
                background: var(--searchbar);
                padding: 4px 10px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 36px;

                input {
                    background: none;
                    border: none;
                    font-size: 1rem;
                    font-family: $roboto;
                    width: calc(100% - 48px);
                    align-self: stretch;
                    padding-left: 12px;
                }

                #search {
                    width: 48px;
                    height: 48px;
                    padding: 8px;
                    position: relative;

                    &::before {
                        @extend %fontAwesome;
                        content: "\f002";
                        display: block;
                        font-size: 1.2rem;
                        color: #031e37;
                    }

                    span {
                        position: absolute;
                        left: -99999px;
                    }
                }
            }

            //INFO
            #info {
                @media only screen and (min-width: 768px) {
                    max-width: 660px;
                }

                .infodiv {
                    margin-bottom: 2rem;
                }

                .spantitle {
                    display: block;
                    font-size: 0.9rem;
                    margin-bottom: 0.8rem;
                }

                //IMAGENS
                .images {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    @media only screen and (min-width: 768px) {
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    img {
                        width: 200px;
                        height: 200px;
                        box-shadow: 0 0 4px var(--sombra);

                        &:first-child {
                            margin-bottom: 1rem;

                            @media only screen and (min-width: 768px) {
                                margin-bottom: 0;
                            }
                        }

                        @media only screen and (min-width: 768px) {
                            width: 300px;
                            height: 300px;
                        }
                    }
                }

                //NOME E TIPO
                .nome-type {
                    display: flex;
                    flex-direction: column;

                    @media only screen and (min-width: 768px) {
                        flex-direction: row;
                        justify-content: space-between;

                        .nome, .type {
                            width: 300px;
                        }
                    }

                    .type {
                        margin-top: 1.2rem;

                        #types {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            li {
                                border-radius: 4px;
                                padding: 10px;
                                background: $red;
                                color: #fff;
                                margin: 0 10px 10px 0;
                            }
                        }
                    }
                }

                //STATS
                .stats {

                    .progress {
                        .stat {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 1rem;

                            h2 {
                                white-space: nowrap;
                            }

                            .bar {
                                height: 16px;
                                width: 100%;
                                background: #d6e1ee;
                                border-radius: 18px;
                                overflow: hidden;
                                margin: 0 16px;

                                .valor {
                                    height: 100%;
                                    width: 1px;
                                    background: $red;
                                    border-radius: 18px;
                                    transition: width 0.4s ease-in-out;
                                }
                            }
                        }
                    }
                }

                .list {
                    max-width: 575px;

                    li {
                        margin-bottom: 2rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        h2 {
                            margin-bottom: 1rem;
                            display: flex;
                            align-items: center;

                            &::before {
                                @extend %fontAwesome;
                                content: "\f0da";
                                margin-right: 8px;
                                color: #e1b200;
                            }
                        }

                        p {
                            margin-bottom: 0.9rem;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        #aside {
            position: fixed;
            height: 100vh;
            right: 0;
            top: 70px;
            max-width: 300px;
            background: var(--aside);
            padding: 2.4rem 2rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            transform: translateX(500px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            z-index: 7999;

            @media only screen and (min-width: 1100px) {
                position: static;
                height: 660px;
                background: none;
                padding: 1rem 2rem 2rem 2rem;
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
                box-shadow: 0 0 10px rgba($color: #000000, $alpha: .05);
            }

            &.ativo {
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease-in-out;
            }

            #random {
                padding: 12px 22px;
                background: $red;
                color: #fff;
                font-size: 1rem;
                font-family: $roboto;
                font-weight: 500;
                border-radius: 4px;
                box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
                transition: 0.3s ease-in-out;

                &:hover {
                    transition: 0.3s ease-in-out;
                    background: #b43727;
                }
            }

            #randomlist {
                overflow-y: auto;
                margin-top: 1rem;
                height: 76%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 16px 0;

                @media only screen and (min-width: 1100px) {
                    height: 100%;
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: rgba(0, 0, 0, 0.2);
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--aside);
                    border: 1px solid rgba(0, 0, 0, 0.2);
                }

                li {
                    margin-bottom: 14px;
                    border-radius: 6px;
                    box-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.15);
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
