article {
    padding-top: 110px;

    .container {
        flex-direction: column;

        .main {
            width: 100%;
            position: relative;

            .inicio {
                //SEARCHBAR
                .searchbar {
                    background: var(--searchbar);
                    padding: 4px 10px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1rem;

                    input {
                        background: none;
                        border: none;
                        font-size: 1rem;
                        font-family: $roboto;
                        width: calc(100% - 48px);
                        align-self: stretch;
                        padding-left: 12px;
                    }

                    #search {
                        width: 48px;
                        height: 48px;
                        padding: 8px;
                        position: relative;

                        &::before {
                            @extend %fontAwesome;
                            content: "\f002";
                            display: block;
                            font-size: 1.2rem;
                            color: #031e37;
                        }

                        span {
                            position: absolute;
                            left: -99999px;
                        }
                    }
                }

                #aside {
                    position: relative;
                    margin-bottom: 2rem;

                    #random {
                        width: 48px;
                        height: 48px;
                        padding: 10px;
                        border-radius: 50%;
                        background: #3d7dca;
                        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.4);
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        margin-top: -36px;

                        @media only screen and (min-width: 768px) {
                            right: -24px;
                            margin-top: -28px;
                        }

                        &::before {
                            @extend %fontAwesome;
                            content: "\f2f1";
                            display: block;
                            color: #fff;
                        }

                        span {
                            position: absolute;
                            left: -99999px;
                        }
                    }

                    div {
                        overflow-x: auto;
                        min-height: 142px;
                        padding: 12px 0;

                        #randomlist {
                            min-width: 500px;
                            max-width: 100%;
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            @media only screen and (min-width: 768px) {
                                padding: 0 6px;
                            }

                            li {
                                width: calc(25% - 1.2rem);
                                max-width: 200px;
                                height: calc(25% - 1.2rem);
                                max-height: 200px;
                                box-shadow: 0 0 2px var(--sombra);
                                margin-right: 1.2rem;

                                &:last-child {
                                    margin-right: 1rem;

                                    @media only screen and (min-width: 768px) {
                                        margin-right: 0;
                                    }
                                }

                                button,
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }

            #erro {
                font-weight: 500;
                color: $red;
                margin: -30px 0 1rem 0;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;

                &.ativo {
                    margin-top: -20px;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }

            #emptyspace {
                div {
                    width: 320px;
                    margin: 0 auto;
                    text-align: center;
                    color: var(--texto);
                    opacity: 0.4;

                    i {
                        font-size: 3rem;
                        margin: 0 auto 1rem auto;
                    }
                }

                &.hide {
                    display: none;
                }
            }

            //INFO
            #info {
                visibility: hidden;
                overflow-y: hidden;
                height: 100px;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                border-top: 2px solid var(--sombra);
                padding-top: 2rem;

                &.show {
                    visibility: visible;
                    overflow-y: visible;
                    height: auto;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }

                @media only screen and (min-width: 768px) {
                }

                .infodiv {
                    margin-bottom: 2.4rem;
                }

                .spantitle {
                    display: block;
                    font-size: 0.9rem;
                    margin-bottom: 0.8rem;
                }

                //IMAGENS
                .images {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    @media only screen and (min-width: 768px) {
                        flex-direction: row;
                        justify-content: space-around;
                    }

                    img {
                        width: 200px;
                        height: 200px;
                        box-shadow: 0 0 4px var(--sombra);

                        &:first-child {
                            margin-bottom: 1rem;

                            @media only screen and (min-width: 768px) {
                                margin-bottom: 0;
                            }
                        }

                        @media only screen and (min-width: 768px) {
                            width: 300px;
                            height: 300px;
                        }
                    }
                }

                //NOME E TIPO
                .nome-type {
                    display: flex;
                    flex-direction: column;

                    @media only screen and (min-width: 768px) {
                        flex-direction: row;
                        justify-content: space-between;
                        max-width: 575px;

                        .nome,
                        .type {
                            max-width: 300px;
                        }
                    }

                    .type {
                        margin-top: 1.2rem;

                        #types {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            li {
                                border-radius: 4px;
                                padding: 10px;
                                background: $red;
                                color: #fff;
                                margin: 0 10px 10px 0;
                            }
                        }
                    }
                }

                //STATS
                .stats {
                    max-width: 575px;

                    .progress {
                        .stat {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 1rem;

                            h2 {
                                white-space: nowrap;
                            }

                            .bar {
                                height: 16px;
                                width: 100%;
                                background: #d6e1ee;
                                border-radius: 18px;
                                overflow: hidden;
                                margin: 0 16px;

                                .valor {
                                    height: 100%;
                                    width: 1px;
                                    background: $red;
                                    border-radius: 18px;
                                    transition: width 0.4s ease-in-out;
                                }
                            }
                        }
                    }
                }

                .list {
                    max-width: 575px;

                    li {
                        margin-bottom: 2rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        h2 {
                            margin-bottom: 1rem;
                            display: flex;
                            align-items: center;

                            &::before {
                                @extend %fontAwesome;
                                content: "\f0da";
                                margin-right: 8px;
                                color: #e1b200;
                            }
                        }

                        p {
                            margin-bottom: 0.9rem;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                #locallist {
                    li details {
                        cursor: pointer;
                        padding-left: 16px;

                        summary {
                            display: flex;
                            align-items: center;
                            margin-bottom: 0.8rem;

                            &::before {
                                @extend %fontAwesome;
                                content: "\f0da";
                                margin-right: 8px;
                                color: $red;
                            }

                            &::marker {
                                display: none;
                            }
                        }

                        ul {
                            margin-left: 32px;
                            list-style-type: square;

                            li {
                                margin-bottom: 0.8rem;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
