:root {
    //geral
    --body: #fff;

    //header
    --header: #8abfff;
    --btnheader: #173b5c;
}

.escuro {
    //geral
    --body: #031E37;

    //header
    --header: #003A70;
    --btnheader: #7091b1;
}
