:root {
    //geral
    --body: #fff;
    --texto: #010a11;

    //header
    --header: #3d7dca;
    --aside: #2a6ab7;

    //searchbar
    --searchbar: #ffeeaf;

    //info
    --sombra: rgba(0, 0, 0, 0.2);

    //main
    --fallback: rgb(255,203,5);
    --gradiente: radial-gradient(circle, #ff7f4f -15%, #f8e396 93%);
    --maintexto: #1e1800;
}

.escuro {
    //geral
    --body: #031e37;
    --texto: #eaf4fc;

    //header
    --header: #003a70;
    --aside: #0a2f50;

    //searchbar
    --searchbar: #fbde6e;

    //info
    --sombra: rgba(255, 255, 255, 0.2);

    //main
    --fallback: #3D7DCA;
    --gradiente: radial-gradient(circle, #003A70 -15%, #3D7DCA 93%);
    --maintexto: #eaf4fc;
}
